/* Стили для бокового меню */
.sidebar {
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  color: #adb5bd;
  padding: 0.75rem 1rem;
  margin-bottom: 0.2rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.sidebar .nav-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link.active {
  color: #fff;
  background-color: #0d6efd;
  font-weight: 500;
}

/* Основное содержимое */
.content {
  padding: 2rem 0;
}

.form-check-input {
    width: 2em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
}

.form-switch .form-check-input {
    width: 2.5em;
    margin-left: -2.5em;
}
