{% extends 'blog/base.html' %}
{% load my_tags_blog %}
{% block title %}Все посты{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Посты</h1>
        <p class="lead text-body-secondary">Вы можете ознакомиться с постами нашего блог-сайта</p>
        <p>
            <a href="{% url 'blog:post_add' %}" class="btn btn-primary my-2">Запостить</a>
        </p>
    </div>
</div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in posts %}
            <div class="col">
                <div class="card shadow-sm">
                    <img height="300" src="{{ post.image | media_filter }}" style="width: 100% height: auto object-fit: contain" alt="Картинка товара">
                    <div class="card-body">
                        <p class="card-text">Наименование: {{ post.title }}</p>
                        <p class="card-text">Просмотры: {{ post.views_cnt }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'blog:post' post.pk %}" role="button">Посмотреть</a>
                            </div>
                            <small class="text-body-secondary">{{ post.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}