{% extends 'blog/base.html' %}
{% load my_tags_blog %}
{% block title %}Удаление{% endblock %}
{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Удаление</h1></div>
  </div>
</section>
<div class="d-flex justify-content-center">
  <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card mb-4 box-shadow">
          <div class="card-header text-center">
              <h4 class="my-0 font-weight-normal">Удаление поста из блога</h4>
          </div>
          <div class="card-body">
              <form method="post" action="" class="multipart/form-data">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Удалить</button>
                  <a href="{% url 'blog:posts' %}" class="btn btn-danger" type="button">Назад</a>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}