{% extends 'catalog/base.html' %}
{% load my_tags_catalog %}
{% block title %}Продукты{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Продукты</h1>
        <p class="lead text-body-secondary">Ознакомьтесь с нашими товарами ниже</p>
        <p>
            {% if perms.catalog.can_add_product %}
            <a href="{% url 'catalog:product_add' %}" class="btn btn-secondary my-2">Добавить товар</a>
            {% endif %}
        </p>
    </div>
</div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img height="300" src="{{ product.image | media_filter }}" style="width: 100% height: auto object-fit: contain" alt="Фото товара">
                    <div class="card-body">
                        <p class="card-text">Наименование: {{ product.name }}</p>
                        <p class="card-text">Цена: {{ product.price }}</p>
                        {% if not product.is_published %}
                        <div class="card-header bg-warning">
                            <span class="badge bg-danger">Не опубликовано</span>
                            {% if perms.catalog.can_view_unpublished %}
                            <small class="text-muted">(видно только модераторам)</small>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                                {% if user == product.owner or perms.catalog.can_change_product %}
                                <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-sm btn-outline-primary">Изменить</a>
                                {% endif %}
                            </div>
                            <small class="text-muted">{{ product.updated_at|date:"d.m.Y" }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}